*{
    background-color: #F5F4F1;
}
h1{
    font-family: fino-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    text-align: center;
}
h2{
    font-family: fino-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
}
