* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,
main,
body {
  background-color: #f5f4f1;
  margin: 1rem;
}
footer {
  background-color: #c3e4dd;
}

h1 {
  font-family: fino-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  text-align: center;
}
h2 {
  font-family: fino-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
}
h3 {
  font-family: adobe-caslon-pro, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #99040b;
  text-transform: uppercase;
}

p {
  font-family: adobe-caslon-pro, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}
h4 {
  font-family: adobe-caslon-pro, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: #99040b;
}
h5 {
  font-family: adobe-caslon-pro, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Index css*/

.instagramlogo {
  text-align: center;
  transition: transform 0.3s ease;
}

.instagramlogo:hover {
  transform: scale(1.2);
}
.instagramgalleri {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.Menulayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px; /* Adjust heading size */
  }
  h2 {
    font-size: 30px; /* Adjust heading size */
  }
}
/*About css*/

/*Bryllup css*/

/*Kontakt css*/

/*Singleview css*/

/*webshop css*/
