* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kage-gjort-nemt {
  color: #000000;
  text-align: left;
  font-family: "FinoSans-Italic", sans-serif;
  font-size: 60rem;
  font-weight: 400;
  font-style: italic;
  position: relative;
  height: 50rem;
}

.cupcake1 .cupcake2 .cupcake3 .cupcake4 {
  width: 60rem;
  height: 60rem;
  position: relative;
  object-fit: cover;
}

.spoon img {
  width: 15rem;
}
