---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Leftsidemenu from "../components/Leftsidemenu.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="https://use.typekit.net/dum4mjv.css" />
    <link rel="stylesheet" href="https://use.typekit.net/dum4mjv.css" />
    <title>Bake My Day</title>
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main>
      <div class="logo-frontpage">
        <img src="../public/images/logoforside.png" alt="logo frontpage" />
      </div>
      <h1>Café</h1>
      <h2>ÅBNINGSTIDER</h2>
      <div class="openinghours-frontpage"></div>
      <h2>MENU</h2>
      <img src="../public/images/islandske.png" alt="islandske snegle" />
      <Leftsidemenu
        header="36DKK"
        text="Chokolade (v) Hindbær (v) Oreo (v) Saltkaramel (v) Månedens donut (v)"
      />
      <Leftsidemenu
        header="29DKK"
        text="Chokolade (v) Hindbær (v) Oreo(v) Saltkaramel (v) "
      />
      <img src="../public/images/donuts.png" alt="donuts" />
      <img src="../public/images/cupkakes.png" alt="cupcakes" />
      <Leftsidemenu
        header="36DKK"
        text="Faste varienter Vanilje blåbær passionfrugt (v) Double chokolade (v) Red velvet med flødeostcreme Chokoladekage med oreocreme (v). Sæson smage Pistachie vaniljekage med pistachie creme Biscoff vaniljekage med biscoff creme (v)"
      />
      <img src="../public/images/cookies.png" alt="cookies" />
      <Leftsidemenu
        header="40DKK"
        text="Biscoff Lotus cookie med fyld af biscoff creme Pecan nut cookie med fyld af nougat"
      />
      <img src="../public/images/minikager.png" alt="mini kager" />
      <Leftsidemenu
        header="350,-DKK"
        text="Chokoladekage med chokoladecreme og chokoladedråber Vaniljekage med hindbærcreme og tørrede hindbær Red velvet med flødeostcreme "
      />
      <img src="../public/images/savory.png" alt="savory" />
      <Leftsidemenu
        header="25,-DKK"
        text="Fuldkorns croissants (v) /25DKK Islandske ostesløjfer (v)/42DKK Rugbrødsboller (v) Surdejsboller (v) Smurt med smør og ost / +14DKK Smurt med smørost og avacado /+24DKK"
      />
      <img src="../public/images/drikke.png" alt="drinks" />
      <Leftsidemenu
        text="Chai latte Turmeric latte Matcha latte Mynte latte Lavender/æble latte Caramel latte Hindbær latte Citron latte Sodavand"
      />
      <div class="instagramlogo">
        <img src="../public/images/instagram.png" alt="insta logo" />
      </div>
      <h2>FIND OS PÅ INSTAGRAM</h2>
      <div class="instagramgalleri">
        <img src="../public/images/galleri1.png" alt="" />
        <img src="../public/images/galleri2.png" alt="" />
        <img src="../public/images/galleri3.png" alt="" />
        <img src="../public/images/galleri4.png" alt="" />
        <img src="../public/images/galleri5.png" alt="" />
      </div>
      <h2>TILMELD DIG TIL BAKE MY NEWSLETTER</h2>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
