---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Newsletterform from "../components/Newsletterform.astro";
import Menuitem from "../components/Menuitem.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="https://use.typekit.net/dum4mjv.css" />
    <link rel="stylesheet" href="https://use.typekit.net/dum4mjv.css" />
    <title>Bake My Day</title>
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main>
      <div class="logo-frontpage">
        <img src="/images/logoforside.png" alt="logo frontpage" />
      </div>
      <h1>Café</h1>
      <h2>ÅBNINGSTIDER</h2>
      <div class="openinghours-frontpage"></div>
      <h2>MENU</h2>
      <div class="Menulayout">
        <Menuitem
          imageSrc="/images/islandske.png"
          name="snegle"
          price="29"
          description="Chokolade (v) Hindbær (v) Oreo (v) Saltkaramel (v)"
        />
        <Menuitem
          name="Donuts"
          price="36"
          description="Chokolade (v) Hindbær (v) Oreo (v) Saltkaramel (v) Månedens donut (v)"
          imageSrc="/images/donuts.png"
        />
        <Menuitem
          imageSrc="/images/cupkakes.png"
          name="cupcakes"
          price="36"
          description="write more"
        />
        <Menuitem
          name="macarons"
          price="18"
          description="write"
          imageSrc="/images/macarons.png"
        />
        <Menuitem
          imageSrc="/images/cookies.png"
          name="cookies"
          price="40"
          description="write more"
        />
        <Menuitem
          name="brownies"
          price="49"
          description="write"
          imageSrc="/images/brownies.png"
        />
        <Menuitem
          imageSrc="/images/minikager.png"
          name="mini kager"
          price="350,-"
          description="write more"
        />
        <Menuitem
          name="andre treats"
          price="25"
          description="write"
          imageSrc="/images/andretreats.png"
        />
        <Menuitem
          imageSrc="/images/savory.png"
          name="savory"
          price="25,-"
          description="write more"
        />
        <Menuitem
          name="kaffe"
          price="??"
          description="write"
          imageSrc="/images/kaffe.png"
        />
        <Menuitem
          imageSrc="/images/drikke.png"
          name="drinks"
          price="??"
          description="write more"
        />
      </div>

      <div class="instagramlogo">
        <img src="/images/instagram.png" alt="insta logo" />
      </div>
      <h2>FIND OS PÅ INSTAGRAM</h2>
      <div class="instagramgalleri">
        <img src="/images/galleri1.png" alt="" />
        <img src="/images/galleri2.png" alt="" />
        <img src="/images/galleri3.png" alt="" />
        <img src="/images/galleri4.png" alt="" />
        <img src="/images/galleri5.png" alt="" />
      </div>
      <h2>TILMELD DIG TIL BAKE MY NEWSLETTER</h2>
      <Newsletterform />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
