---
import "../styles/global.css";
import Banner from "../components/banner.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Kagemenu from "../components/Kagemenu.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
   <link rel="stylesheet" href="src/styles/global.css"/>
    <link rel="stylesheet" href="https://use.typekit.net/dum4mjv.css">
    <link rel="stylesheet" href="https://use.typekit.net/dum4mjv.css">
    <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">

    <title>Bake My Day</title>
  </head>
  <body>
    <header>
      <Banner />
      <Header />
    </header>
    <main>
<Kagemenu />





<p>Vores Festkage med pressede blomster er en æstetisk fornøjelse, der forener naturens skønhed med en lækker smagsoplevelse. Kagen er omhyggeligt dekoreret med nøje udvalgte pressede blomster, der tilføjer en unik og naturlig elegance til enhver festlig lejlighed.
 
Vores dedikerede konditorer smører kagen op med en skøn vaniljesmørcreme, der skaber den perfekte base for både udseende og smag.
 
Bemærk venligst, at på grund af blomsternes naturlige variation kan udseendet af blomsterdekorationen variere fra kage til kage. Dette bidrager til hver kages unikke karakter og skaber en autentisk følelse af håndværk og individualitet, men de kommer altid til at have det lidt mere "vilde" look.
 
Uanset om det er til en fødselsdag, bryllup eller enhver anden festlig lejlighed, vil vores Festkage med pressede blomster være et smukt og velsmagende centrum for din begivenhed.Vegan info: Alle smage undtaget Red velvet kan laves vegansk/plantebaseret. Husk at skrive i kommentarfeltet i næste skridt hvis kagen ønskes vegansk.
 
Bestillingsfrist: Minimum 7 dage (Ring og spørg os først, hvis der er mindre end 7 dage)</p>
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
