---
const {text} = Astro.props;
---

<article>
    <button class="cherrybutton">{text}</button> 
</article>

<style>
.cherrybutton {
display: flex;               /* Use flexbox for alignment */
  justify-content: center;     /* Center horizontally */
  align-items: center;         /* Center vertically */
  height: 100%;               /* Full viewport height */
  width: 25%;                 /* Full viewport width */
  margin: 0;                   /* Remove default margins */
  padding: 0;  
  padding: 5px 50px;
  font-family: adobe-caslon-pro, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  background-color: #99040B; 
  color: #c3e4dd;
  border-radius: 20px;
  cursor: pointer;             /* Show pointer on hover */
  transition: transform 0.3s, background-color 0.3s;
}
.cherrybutton:hover {
  background-color: #99040B;   /* Darker background on hover */
  transform: scale(1.1);       /* Slightly enlarge the button */
}
</style>