---
// @ts-nocheck

const { label, options } = Astro.props;
---
<div class="dropdown">
  <label for="dropdown-select" class="dropdown-label">{label}</label>
  <select id="dropdown-select" class="dropdown-select" name="dropdown">
    {Array.isArray(options) && options.length > 0 ? (
      options.map((option) => (
        <option value={option} key={option}>{option}</option>
      ))
    ) : (
      <option value="">No options available</option>
    )}
  </select>
</div>

<style>

.dropdown {
  margin: 1rem 0;
   
}


.dropdown-select {
  width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 3px solid #C3E4DD;
  border-radius: 36px;
  background-color:transparent;
  cursor: pointer;
}

.dropdown-select {
 display: flex;
 justify-content: space-around;
}

.dropdown-label{
    color: #C3E4DD;
}


</style>