<article class="footer-layout">
  <div class="addresse">
    <h1>ADDRESSE</h1>
    <a href="https://maps.app.goo.gl/76EpxSbkWfcWe1CQ6"target="_blank">
    <p>Amager Fælledvej 162, 2300 København S</p>
  </a>
  <a href="https://maps.app.goo.gl/vBbAtG2oMWpXZV62A"target="_blank">
    <p>Kalvebod Brygge 59, 1560 København</p>
  </a>
  
    <img src="../images/logofooter.png" alt="logo" />
  </div>
  <div class="openinghours">
    <h1>ÅBNINGSTIDER</h1>
    <h2>Café DR Byen</h2>
    <p>Mandag - Lørdag : 10 - 18</p>
    <p>Søndag : 10 - 17</p>
    <h2>Café Fisketorvet</h2>
    <p>Mandag - Søndag : 11 - 21</p>
    <h2>Kundeservice</h2>
    <p>Mandag - Torsdag : 10 - 16</p>
    <p>Fredag : 10 - 14</p>
    <p>Søndag : Lukket</p>
  </div>
  <div class="kontakt">
    <h1>KONTAKT</h1>
    <p>Café DR Byen : 91 96 18 02</p>
    <p>Café Fisketorvet : 24 96 02 22</p>
    <p>Kundeservice : 52 78 15 73</p>
  </div>
  <div class="information">
    <h1>INFORMATION</h1>
    <a href="/kontakt#faq">
    <p>FAQ-Ofte stillede spørgsmål</p>
  </a>
    <a href="https://www.findsmiley.dk/1391012" target="_blank">
      <p>Smiley raport</p>
  </a>
  
    <a href="https://www.facebook.com/BakeMyDayCopenhagen/">
    <img src="../images/facebook.png" class="facebook" alt="facebook logo" />
  </a>
 <a href="https://www.tiktok.com/@ynja.bakemyday">
    <img src="../images/tiktok.png" class="tiktok" alt="tiktok logo" />
  </a>
 <a href="https://www.instagram.com/bakemydaycph/?hl=da">
    <img src="../images/instagram.png" class="instagram" alt="instagram logo" />
  </a>

  </div>
</article>

<style>

 .facebook{
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
 }
 .facebook:hover {
  transform: scale(1.2);
}

.tiktok{
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
 }

 .tiktok:hover {
  transform: scale(1.2);
}

.instagram{
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
 }

 .instagram:hover {
  transform: scale(1.2);
}
  .footer-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    justify-content: space-evenly;
    margin-top: 70px;
  }
  .footer-layout h1 {
    font-family: adobe-caslon-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: unset;
  }
  .footer-layout h2 {
    font-size: 24px;
    text-align: unset;
    font-family: adobe-caslon-pro, serif;
    font-style: normal;
    font-weight: 550;
  }
  .footer-layout p {
    font-size: 20px;
    font-family: adobe-caslon-pro, serif;
    font-style: normal;
    font-weight: 400;
  }
  .footer-layout a {
   color: black;
  }
  .footer-layout > div {
    text-align: center;
  }
  @media (max-width: 768px) {
    .footer-layout {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px; /* Adjust spacing for smaller screens */
    }
  }

  @media (max-width: 480px) {
    .footer-layout {
      grid-template-columns: 1fr; /* Single column for mobile */
      gap: 10px;
      padding: 10px; /* Reduce padding for smaller screens */
    }
  }
</style>
