<article class="footer-layout">
  <div class="addresse">
    <h1>ADDRESSE</h1>
    <p>Amager Fælledvej 162, 2300 København S</p>
    <p>Kalvebod Brygge 59, 1560 København</p>
    <img src="../public/images/logofooter.png" alt="logo" />
  </div>
  <div class="openinghours">
    <h1>ÅBNINGSTIDER</h1>
    <h2>Café DR Byen</h2>
    <p>Mandag - Lørdag : 10 - 18</p>
    <p>Søndag : 10 - 17</p>
    <h2>Café Fisketorvet</h2>
    <p>Mandag - Søndag : 11 - 21</p>
    <h2>Kundeservice</h2>
    <p>Mandag - Torsdag : 10 - 16</p>
    <p>Fredag : 10 - 14</p>
    <p>Søndag : Lukket</p>
  </div>
  <div class="kontakt">
    <h1>KONTAKT</h1>
    <p>Café DR Byen : 91 96 18 02</p>
    <p>Café Fisketorvet : 24 96 02 22</p>
    <p>Kundeservice : 52 78 15 73</p>
  </div>
  <div class="information">
    <h1>INFORMATION</h1>
    <p>FAQ-Ofte stillede spørgsmål</p>
    <p>Smiley report</p>
    <img src="../public/images/facebook.png" alt="facebook logo" />
    <img src="../public/images/tiktok.png" alt="tiktok logo" />
    <img src="../public/images/instagram.png" alt="instagram logo" />
  </div>
</article>

<style>
  .footer-layout h1 {
    font-size: 24px;
    text-align: unset;
  }
  .footer-layout h2 {
    font-size: 24px;
    text-align: unset;
  }
  .footer-layout p {
    font-size: 20px;
  }
</style>
