<header>
  <img src="" alt="logo" />
  <nav>
    <ul>
      <li>
        <a href="webshop.astro">Webshop</a>
      </li>
      <li>
        <a href="about.astro">Om os</a>
      </li>
      <li>
        <a href="kontakt.astro">Kontakt</a>
      </li>
    </ul>
    <img src="../public/images/basket.png" alt="" />
    <img src="../public/images/search.png" alt="" />
    <img src="../public/images/login.png" alt="" />
  </nav>
</header>

<style>
  nav ul {
    list-style: none;
  }
  nav a {
    text-decoration: none;
  }
</style>
