<article class="header-layout">
  <div class="logo">
    <a href="/">
    <img src="/images/logoheader.png" alt="logo" />
  </a>
  </div>
  <nav class="nav">
    <ul>
      <li>
        <a href="/webshop">Webshop</a>
      </li>
      <li>
        <a href="/about">Om os</a>
      </li>
      <li>
        <a href="/kontakt">Kontakt</a>
      </li>
    </ul>
  </nav>
  <div class="icons">
    <img src="/images/basket.png" alt="" />
    <img src="/images/search.png" alt="" />
    <img src="/images/login.png" alt="" />
  </div>
</article>

<style>
  .header-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  .nav a {
    text-decoration: none;
    color: #1e1e1e;
    font-size: 24px;
    font-family: fino-sans, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
</style>
