<!-- <article class="cake_menu">
    <ul>
    <li>KAGER</li>
    <li>TREATS</li>
    <li>SÆSON</li>
    <li>PAKKELØSNINGER</li>
   <li>KURSER</li>
</ul>
</article> -->


<nav class="kage_menu">
    
    <a class="kage_m" href="/#">KAGER</a>
    <a class="kage_m" href="/#">TREATS</a>
    <a class="kage_m" href="/#">SÆSON</a>
    <a class="kage_m" href="/#">PAKKELØSNINGER</a>
    <a class="kage_m" href="/#">KURSER</a>
    
</nav>

<style>
.kage_menu{
    list-style: none;
    text-align: center;
    justify-content: space-between;
    
}
 .kage_m{
    text-decoration: none;
    color: black;
   
 }



</style>