---
const header = Astro.props.header;
const text = Astro.props.text;
---

<article class="leftside-menu">
  <h3>{header}</h3>
  <p>{text}</p>
</article>

<style>
  h3 {
    color: #99040b;
    font-family: adobe-caslon-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
  }
  p {
    font-family: adobe-caslon-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
  }
</style>
