<section class="part1">
  <div class="snegle-photo">
    <img src="../public/images/islandske.png" alt="islandske snegle" />
  </div>
  <div class="informationmenu">
    <h3>36DKK</h3>
    <p>Chokolade (v) Hindbær (v) Oreo (v) Saltkaramel (v) Månedens donut (v)</p>
  </div>
</section>
<section class="part2">
  <div class="informationmenu">
    <h3>29DKK</h3>
    <p>Chokolade (v) Hindbær (v) Oreo (v) Saltkaramel (v)</p>
  </div>
  <div class="donuts-photo">
    <img src="../public/images/donuts.png" alt="donuts" />
  </div>
</section>
<section class="part3">
  <div class="cupcakes-photo">
    <img src="../public/images/cupcakes.png" alt="cupcakes" />
  </div>
  <div class="informationmenu">
    <h3>18DKK</h3>
    <p>
      Chokolade (G) Hindbær (G) Hvid chokolade (G) Saltkaramel (G) Blåbær (G)
      Pistachie (G)
    </p>
  </div>
</section>
<section class="part4">
  <div class="informationmenu">
    <h3>36DKK</h3>
    <p>
      Faste varienter Vanilje blåber passionfrugt (v) Double chokolade (v) Red
      velvet med flødeostcreme Chokoladekage med oreocreme (v) Sæson smage
      Pistachie vaniljekage med pistachie creme Biscoff vaniljekage med biscoff
      creme (v)
    </p>
  </div>
  <div class="macarons-photo">
    <img src="../public/images/macarons.png" alt="macarons" />
  </div>
</section>
<section class="part5">
  <div class="cookies-photo">
    <img src="../public/images/cookies.png" alt="cookies" />
  </div>
  <div class="informationmenu">
    <h3>49DKK</h3>
    <p>
      Chokolade brownie med cornflakes og saltkaramel Chokolade brownie med
      pekan nødder og saltkaramel
    </p>
  </div>
</section>
<section class="part6">
  <div class="informationmenu">
    <h3>40DKK</h3>
    <p>
      Biscoff Lotus cookie med fyld af biscoff creme Pecan nut cookie med fyld
      af nougat
    </p>
  </div>
  <div class="brownies-photo">
    <img src="../public/images/brownies.png" alt="brownies" />
  </div>
</section>
