---
import Cherrybutton from './Cherrybutton.astro';
import Kontakt from '../pages/kontakt.astro';
---




<section class="title">
<h2>Leder du efter noget mere personligt?</h2>
</section>

<section class="subtitle">
<h3>Mangler du kager til en ekstra speciel begivenhed?</h3>
</section>

<section class="text">
<p>Hos Bake my Day kan vi lave netop det design, du ønsker, der måske har en særlig betydning for dig. Du kan sende os billeder af dine idéer. Dit valg af bryllupskager, dåbskager, konfirmationskager eller fødselsdagskager er derfor personligt og skræddersyet til dig. Send en besked til os, og vi vender tilbage dig, med et bud på din drømmekage.  
<br><br><b>Custom kager er til minimum 20 personer. </b></p>
</section>

<section class="button">
  <Cherrybutton text="SEND OS EN MAIL" />
</section>

<section class="spørgsmål">
 <h3>Har du generelle spørgsmål til os?<br>Find vores kontakt side<a href="/kontakt">her</a></h3>
</section>


















<style>
.button{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  .spørgsmål h3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    color: black;
}
.spørgsmål a{
  
    color: #99040b;
    text-decoration: underline;
  }

.subtitle h3{
     position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    }
  .title{
    margin-top: 12rem;
  }
.text p{
    margin-left: 10rem;
    margin-right: 5rem;
    margin-top: 3rem;
    }




  /* Media Query til mindre skærme */
  @media (max-width: 768px) {
    .card {
      width: auto; /* Gør produktkortene mindre */
    }

    .card img {
      width: 45%;
      height: auto;
    }

    .spørgsmål h3 {
      font-size: 1.5rem; /* Gør overskrifterne mindre */
    }
    .card h3 {
      font-size: 1.5rem; /* Gør overskrifterne mindre */
    }
  }
</style>
